.text-box > h3:first-child {
color: pink;
}

.text-box > :nth-child(5){
    color: red;
}

.text-box > :nth-child(7){
    color: green;
}

#greycol{
    color: gray;
}

.yellow{
    color: yellow;
}